.navs {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
}
.navs li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #405061;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
}
.navs li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}
.navs li.selected {
    background-color: #CFD8DC;
    color: white;
}
.navs li.selected:hover {
    background-color: #BBD8DC;
    color: white;
}
.navs .label {
    display: inline-block;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    width: 15em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}