.navs {
    margin: .5em 0 .5em 0;
    list-style-type: none;
    padding: .5em 0 .5em 0;
    width: 10em;
}
.navs li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #405061;
    margin: .5em 0 .5em 0;
    padding: .5em 0 .5em 0;
    height: 2.5em;
    border-radius: 7px;
}
.navs li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}
.navs li.selected {
    background-color: #CFD8DC;
    color: white;
}
.navs li.selected:hover {
    background-color: #BBD8DC;
    color: white;
}
.navs .label {
    display: inline-block;
    color: white;
    line-height: 1em;
    position: relative;
    width: 10em;
    margin-left: 0 auto;
    margin-right: 0 auto;
    top: 50%;
    transform: translatey(-50%);
    text-align: center;
}