body {
    font-size: 12pt;
    font-family: 'Nunito';
    color: black;
    background-color: #fafafa;
}

img {
    max-width: 100%;
    height: auto;
}

app-root {
    background-color: #fafafa;
    font-weight: lighter;
}